@model SleepingFight.Models.GameModel

@{
    Layout = "_Layout";
}

<!DOCTYPE html>
<html>
    <head>
    <title>SleepingFight</title>
    <link rel='stylesheet' type="text/css" href="~/css/MyUser.css" />
    <link rel='stylesheet' type="text/css" href="~/css/site.css" />
    </head>
<body>
    <h1>Sleeping Fight</h1>
    <canvas id="game"></canvas>
    
    <script type="module" src="~/js/index.js"></script>
</body>
</html>
