@model List<Entities.User>

@{
    Layout = "_Layout";
}

<table>
    <tr>
        <th>Id</th><th>Username</th><th>Registration</th>
    </tr>


    @foreach (var x in Model){
        <tr>
            <td>@x.Id</td>
            <td>@x.Login</td>
            <td>@x.RegistrationDate</td>
        </tr>
    }

</table>